body{
    font-family: Poppins;
}
#parent{
    height: 60px;
    /* border: 2px solid red; */
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    
}
#parent>.heading{
    height: 100%;
    /* border: 2px solid green; */
    width: 160px;
    margin-left: 13%;
    margin-right: 27%;
    text-align: center;
    background-color: rgb(81, 81, 254);
    
}
#parent>.heading>h2{
    font-size: 27px;
    margin-top: 10px;
    color: aliceblue;
    font-weight: bolder;

}
.subheading{
    height: 100%;
    /* border: 2px solid green; */
    width: 80px;
    text-align: center;
    font-weight: bolder;
    /* margin-right: 20px; */
}
#containor{
    display: flex;
    height: 650px;
    width: 100%;
    /* border: 2px solid red; */
    /* justify-content: space-evenly; */
}
.head{
    height: 600px;
    width: 545px;
    /* border: 2px solid blue; */
    margin-left: 13.1%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.head1{
    height: 600px;
    width: 545px;
    /* border: 2px solid blue; */
    margin-top: 30px;

    

}
.one{
    height: 20px;
    width: 40%;
    /* border: 2px solid green; */
    margin-top: 60px;
}
.one>h5{
    margin-top: -1px;
    color: #4986FC;
    font-weight: bolder;
}
.two{
    height: 100px;
    width: 90%;
    /* border: 2px solid green; */
}
.two>h1{
    font-size: 35px;
    margin-top: -1px;
    font-weight: bolder;
}
.three{
    height: 200px;
    width: 90%;
    /* border: 2px solid green; */
}
.three>p{
    margin-top: -1px;
    color: #999999;
}
.four{
    height: 90px;
    width: 90%;
    /* border: 2px solid green; */
    display: flex;
    /* justify-content: ; */
    /* padding-top: 5px; */
}
.img{
    height: 97%;
    width: 180px;
    /* border: 2px solid blue; */
    
}
.text>p{
    /* text-align: center; */
    margin-left: 24px;
    font-size: 18px;
}
.head1>div{
    height: 49.5%;
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* justify-content: center; */
    align-items: center;
}
.head1>div>div{
    height: 90%;
    /* border: 2px solid red; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* justify-content: center; */
}
.head1>div>div>.gpg{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
    background-color: #4986FC;
    margin-right: 120px;
    border-radius: 30px
    
    
    
}
.head1>div>div>.header{
    height: 47px;
    width: 80%;
    /* border: 2px solid green; */
    margin-top: -10px;
}
.header>h3{
    margin-top: -1px;
    font-size: 18px;
}
.head1>div>div>.para{
    height: 100px;
    width: 80%;
    /* border: 2px solid green; */

}
.para>p{
    margin-top: -1px;
    color: #999999;
}
.gpg>img{
    height: 80%;
    width: 80%; 
    /* background-color: #4986FC;  */
}